@model IEnumerable<Transaction>

<table class="table table-columns">
    <thead>
        <tr style="font-size:12px;">
            <th>Cashier Name</th>
            <th>Product Name</th>
            <th>Date Time</th>
            <th>Qty Before</th>
            <th>Qty Sold</th>
		    <th>Qty After</th>
		    <th>Sold Amt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr style="font-size:12px;">
                <td>@transaction.CashierName</td>
                <td>@transaction.ProductName</td>
                <td>@transaction.TimeStamp.ToString("MM/dd hh:mm")</td>
                <td>@transaction.BeforeQuantity</td>
                <td>@transaction.SoldQuantity</td>
                <td>@(transaction.BeforeQuantity - transaction.SoldQuantity)</td>
                <td>@(string.Format("{0:c}", transaction.SoldQuantity * transaction.Price))</td>
            </tr>
        }
    </tbody>
</table>
