@model IEnumerable<Transaction>

<table class="table table-columns">
    <thead>
        <tr style="font-size:12px;">
            <th>Cashier Name</th>
            <th>Product Name</th>
            <th>Date Time</th>
            <th>Quantity Before</th>
            <th>Quantity Sold</th>
		    <th>Quantity After</th>
		    <th>Sold Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var transaction in Model)
            {
                <tr style="font-size:12px;">
                    <td>@transaction.CashierName</td>
                    <td>@transaction.ProductName</td>
                    <td>@transaction.TimeStamp.ToString("MM/dd hh:mm")</td>
                    <td>@transaction.BeforeQuantity</td>
                    <td>@transaction.SoldQuantity</td>
                    <td>@(transaction.BeforeQuantity - transaction.SoldQuantity)</td>
                    <td>@(string.Format("{0:c}", transaction.SoldQuantity * transaction.Price))</td>
                </tr>
            }
        }
    </tbody>
</table>
